In [6]:
import sqlite3 as sql
import pandas as pd

In [7]:
# connect to the database (local) and create a cursor

con = sql.connect('letour.db')
cur = con.cursor()

In [8]:
# check what tables are in this db

cur.execute('SELECT name FROM sqlite_master WHERE type = "table";')
cur.fetchall()[0]

('race',)

##Â querying and viewing as df

In [10]:
# separate the SQL query from the python-pandas syntax

my_query = """
SELECT *
FROM race
LIMIT 5;
"""

# build a pandas df with two arguments - the query and the connection to the db
df = pd.read_sql_query(my_query, con)

# view response
df

   year  length  stages  winner_avrspeed  riders  finishers start_city
0  1903    2428       6           25.679      60         21      Paris
1  1904    2420       6           25.265      88         27      Paris
2  1905    2994      11           27.107      60         24      Paris
3  1906    4545      13           24.463      82         14      Paris
4  1907    4488      14           28.470      93         33      Paris

In [46]:
my_query = """
SELECT AVG(winner_avrspeed)
FROM race;
"""
df = pd.read_sql_query(my_query, con)
df

# SELECT start_city, COUNT(*) FROM race GROUP BY start_city ORDER BY COUNT(*) DESC;

   AVG(winner_avrspeed)
0             34.180895

## Interview the data !

## Only query using the SQL query, not pandas (Units are KM and KM/hr)

> How many Tours are listed? 

> What's the most recent year listed? (and so how many years haven't had Tours?)

> Display 'year', 'length' and 'stages' cos only, and just the first 10 rows

> How many cities have been a start city?

> How many races had 23 stages?

> Find all races with 28 finishers or fewer

> Display all races that either had fewer than 80 riders or fewer than 30 finishers

> What is the average number of stages? 

> What is the average number of riders? and of finishers?

> Which was the longest Tour in length(km)?

> How many starts in Paris since 2000?

> How many non-Paris starts since 2000 with more than 160 finishers?

> Find all start cities that aren't Paris or Lyon

> What was the 7th longest race?

> How many finishing riders have there been ever?

> Which two start cities contain the string 'uss'?

> Find all races with the number of stages as either 21, 22, 23 or 24

> Which years had between 52 and 60 finishers?

> What 13 cities have had more than one start?

> What is the winner's average speed since 1903?

In [47]:
# close the connection

con.close()