In [57]:
import sqlite3 as sql
import pandas as pd

In [58]:
# connect to the database (local) 
con = sql.connect('letour.db')

## querying and viewing as df

In [95]:
# separate the SQL query from the python-pandas syntax

my_query = """
SELECT start_city, COUNT(*) 
FROM race 
GROUP BY start_city 
ORDER BY COUNT(*) DESC
LIMIT 15;
"""

# build a pandas df with two arguments - the query and the connection to the db
df = pd.read_sql_query(my_query, con)

# view response
df

       start_city  COUNT(*)
0           Paris        38
1           Brest         3
2      Strasbourg         2
3           Rouen         2
4           Nancy         2
5        Mulhouse         2
6      Luxembourg         2
7           Liège         2
8           Lille         2
9   Le Puy de Fou         2
10    Futuroscope         2
11      Fleurence         2
12         Angers         2
13    West Berlin         1
14         Vittel         1

## Interview the data !

## Only query using the SQL query, not pandas (Units are KM and KM/hr)

> How many Tours are listed? 

> What's the most recent year listed? (and so how many years haven't had Tours?)

> Display 'year', 'length' and 'stages' cos only, and just the first 10 rows

> How many cities have been a start city?

> How many races had 23 stages?

> Find all races with 28 finishers or fewer

> Display all races that either had fewer than 80 riders or fewer than 30 finishers

> What is the average number of stages? 

> What is the average number of riders? and of finishers?

> Which was the longest Tour in length (km)?

> How many starts in Paris since 2000?

> How many non-Paris starts since 2000 with more than 160 finishers?

> Find all start cities that aren't Paris or Lyon

> What was the 7th longest race?

> How many finishing riders have there been ever?

> Which two start cities contain the string 'uss'?

> Find all races with the number of stages as either 21, 22, 23 or 24

> Which years had between 52 and 60 finishers?

> What 13 cities have had more than one start?

> What is the winner's average speed since 1903?

In [47]:
# close the connection

con.close()

## NOTE: It's also possible to run queries in the notebook without a pandas df

In [49]:
# connect to the database (local) and create a cursor

con = sql.connect('letour.db')
cur = con.cursor()

In [50]:
# check what tables are in this db

cur.execute('SELECT name FROM sqlite_master WHERE type = "table";')
cur.fetchall()[0]

('race',)

## NOTE: Build a database (even just one table) from CSVs

In [ ]:
# taking a csv you have in the same directory

file = 'tdf_data.csv'
df = pd.read_csv(file)
df[:4]

In [ ]:
# fix datatype on Length before creating a db

df.Length = df.Length.str.replace(',', '')
df.Length = df.Length.astype(int)

In [ ]:
# fix col names

df.columns = ['year', 'length', 'stages', 'winner_avrspeed', 'riders', 'finishers', 'start_city']

In [ ]:
# there is no database for this table, so we create a new database

con = sql.connect('letour.db')

# we add our table to this new, empty database, but using A DIFFERENT NAME

df.to_sql('race', con, index = False)